<!DOCTYPE html>
<html>
  <head>
    <title>PWM Control</title>
  </head>
  <body>
    <h1>PWM Control</h1>
    <form method="post" action="/set_pwm1">
      Vibrate Structure:
      <input
        type="number"
        name="duty_cycle"
        min="20"
        max="40"
        step="1"
        required
      />
      <input type="submit" value="Set PWM" />
    </form>
    <form method="post" action="/set_pwm2">
      Activate SMA:
      <input
        type="number"
        name="duty_cycle"
        min="20"
        max="40"
        step="1"
        required
      />
      <input type="submit" value="Set PWM" />
    </form>
  </body>
</html>
