<!DOCTYPE html>
<html>
  <head>
    <title>PWM Control</title>
  </head>
  <body>
    <h1>Activate SMA - Value between 20 and 40</h1>
    <form method="post" action="/set_pwm1">
     Reduce Vibrations:
      <input
        type="number"
        name="duty_cycle"
        min="0"
        max="40"
        step="1"
        required
      />
      <input type="submit" value="Activate" />
    </form>

     <form method="post" action="/set_pwm1">
     Reset
     <input
        type="number"
        name="duty_cycle"
        min="0"
        max="0"
        step="1"
        value="0"
        readonly
      />
      <input type="submit" value="Reset" />
    </form>
   
    </form>
  </body>
</html>
